App.config
lessons.csproj
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/lessons.csproj.AssemblyReference.cache
Properties/AssemblyInfo.cs
bin/Debug/lessons.exe
bin/Debug/lessons.exe.config
bin/Debug/lessons.pdb
obj/Debug/lessons.csproj.CoreCompileInputs.cache
obj/Debug/lessons.csproj.FileListAbsolute.txt
obj/Debug/lessons.csproj.SuggestedBindingRedirects.cache
obj/Debug/lessons.exe
obj/Debug/lessons.pdb
